---
import ButtonFilled from "./atoms/ButtonFilled.astro";
import ButtonOutLine from "./atoms/ButtonOutLine.astro";

interface Props {
  texts: string[];
  imgUrl: string;
  title: string;
}

const { texts, title, imgUrl} = Astro.props;
---

  <!--partie header de la page-->
  <section class="header">
    <div class="imgContainer">
        <img src={imgUrl} alt="" />
    </div>
    <div class="container">
        <div class="text_header">
            <h1>{title}</h1>
            {texts.map((text: string) => <p>{text}</p>)}
        </div>
        <div class="btn_hero">
            <div class="content">
                <ButtonFilled href="/histoire">Découvrir le trailer <img class="img_btn" src="/assets/images/Arrow.svg" alt=""></ButtonFilled>
            </div>
            <div class="content">
                <ButtonOutLine href="/bestiaire">Découvrir le bestiaire <img class="img_btn" src="/assets/images/Arrow3.svg" alt=""></ButtonOutLine>
            </div>
        </div>
    </div>
    <div class="container_arrow">
        <div class="img_arrow">
            <img src="/assets/images/arrow2.svg" alt="">
        </div>
    </div>
  </section>


<style lang="scss">
    .header {
          position: relative;
          .imgContainer {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
          height: 656px;
          background-image: url(var(
            --background
          )); /* Chemin vers votre image */
          background-size: cover; /* Couvrir toute la zone de l'élément */
          background-position: center; /* Centrer l'image horizontalement et verticalement */
          background-repeat: no-repeat; /* Empêcher la répétition de l'image */
          .container {
            .text_header {
              padding-top: 100px;
              max-width: 24rem;
              text-transform: uppercase;
              h1 {
                margin: 0px;
              }
              p {
                margin: 4px;
              }
            }
            .btn_hero{
                display: flex;
                flex-direction: row;
                gap: 34px;
                margin-top: 26px;
            }
            .img_btn1{
                width: 25px;
                height: 20px;
            }
            .container_img_btn{
                position: relative;
                width: 25px;
                height: 20px;
                width: 25px;
                height: 20px;
                margin-left: 8px;
            }
            .img_btn{
                width: 25px;
                height: 20px;
                margin-left: 8px;
            }
            }
            .container_arrow{
                width: 100%;
                display: flex;
                justify-content: center;
                .img_arrow{
                    width: 50px;
                    height: 50px;
                    background-color: #2D4436;
                    opacity: 0.6;
                    backdrop-filter: blur(1px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    img{
                        width: 23px;
                        height: 24px;
                        background-color:#2D4436;
                    }
                }
            }
        }