---
import NavList from "./NavList.astro";
---

<header class="mobile">
  <div class="logo">
    <a href="/">
      <img src="/assets/images/logo.svg" alt="logo les animaux du futur" />
    </a>
  </div>

  <button class="burgerBtn">
    <img class="burgerIcon" src="/assets/images/Burger.svg" alt="icone burger" />
    <img class="burgerIcon hidden" src="/assets/images/X.svg" alt="icone fermer" />
  </button>
</header>
<div class="burgerContent">
  <NavList />
</div>

<script>
  const btn = document.querySelector<HTMLButtonElement>(".burgerBtn");
  const btnAll = document.querySelectorAll<HTMLButtonElement>(".burgerIcon");
  const burgerContent =
    document.querySelector<HTMLDivElement>(".burgerContent");

  btn.addEventListener("click", () => {
    burgerContent.classList.toggle("isOpen");
    btnAll.forEach((element) => {
      element.classList.toggle("hidden");
    });
  });
</script>

<style lang="scss">
  .hidden {
    display: none;
  }
  .burgerIcon {
    width: 1rem;
    height: 20px;
  }
  .burgerContent {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: 19;
    transition: transform 0.2s ease-out;
    transform: translateX(100%);
    background-color: #2d4436;
    display: grid;
    place-items: center;
    z-index: 4;
    @media (min-width: 660px) {
      display: none;
    }
  }

  .isOpen {
    transform: translateX(0);
  }

  .mobile {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    opacity: 0.7;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 46.5%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 660px) {
      display: none;
    }
    img {
      width: 2rem;
      max-width: none;
    }
    .logo{
      img{
      width: 4rem;
      height: 100%;
      }
    }
    button {
      background-color: transparent;
      border: none;
    }
  }
</style>
