---

---

<ul>
  <li>
    <a href="/" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-accueil.svg" alt="icone accueil" />
        <p>Accueil</p>
      </div>
    </a>
  </li>
  <li>
    <a href="/histoire" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-histoire.svg" alt="icone histoire" />
        <p>Histoire</p>
      </div>
    </a>
  </li>
  <li>
    <a href="/bestiaire" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-bestiaire.svg" alt="icone bestiaire" />
        <p>Bestiaire</p>
      </div>
    </a>
  </li>
  <!-- <li>
    <a href="/modules">
      <div class="block">
        <img src="/assets/images/Icon-modules.svg" alt="icone bestiaire" />
        <p>Modules</p>
      </div>
    </a>
  </li> -->
  <li>
    <a href="/coulisses" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-coulisses.svg" alt="icone coulisses" />
        <p>Coulisses</p>
      </div>
    </a>
  </li>
  <li>
    <a href="/contact" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-contact.svg" alt="icon contact" />
        <p>Contact</p>
      </div>
    </a>
  </li>
</ul>

<style lang="scss">
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    gap: 2rem;
    margin: 1rem 2rem;
    padding: 0;
    li {
      a {
        color: #fff;
      }
      .block {
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
          width: 1.4rem;
          height: 1.4rem;
        }
        p {
          width: fit-content;
          color: #fff;
        }
      }
    }
  }
</style>
