---

---

<ul>
  <li>
    <a href="/" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-accueil.svg" alt="icone accueil" />
        <div class="container-title">
          <p>Accueil</p>
          <div class="border"></div>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/histoire" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-histoire.svg" alt="icone histoire" />
        <div class="container-title">
          <p>Histoire</p>
          <div class="border"></div>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/bestiaire" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-bestiaire.svg" alt="icone bestiaire" />
        <div class="container-title">
          <p>Bestiaire</p>
          <div class="border"></div>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/coulisses" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-coulisses.svg" alt="icone coulisses" />
        <div class="container-title">
          <p>Coulisses</p>
          <div class="border"></div>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/contact" title="Cliquez">
      <div class="block">
        <img src="/assets/images/Icon-contact.svg" alt="icon contact" />
        <div class="container-title">
          <p>Contact</p>
          <div class="border"></div>
        </div>
      </div>
    </a>
  </li>
</ul>

<style lang="scss">
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    gap: 2rem;
    margin: 1rem 2rem;
    padding: 0;
    li {
      a {
        color: #fff;
      }
      .block {
        display: flex;
        align-items: center;
        gap: 2.2rem;

        img {
          width: 1.4rem;
          height: 1.4rem;
        }
        .container-title {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
          p {
            width: fit-content;
            color: #fff;
            &:hover {
              // padding-bottom: -1px;
              // border-bottom: 1px solid #3AE7AB;
              // &::after {
              //   content: "";
              //   display: block;
              //   width: 100%;
              //   height: 2px;
              //   background-color: #3AE7AB;
              // }
            }
          }

          &:hover {
            .border {
              position: absolute;
              bottom: 1rem;
              width: 80%;
              height: 2px;
              background-color: #3AE7AB;
              transition: width 0.3s;
            }
          }
        }
      }
    }
  }
</style>
