---
import NavList from "./NavList.astro";
---

<header class="wrapper">
  <div class="logo">
    <a href="/">
      <img src="/assets/images/logo.svg" alt="" />
    </a>
  </div>
  <nav>
    <NavList />
  </nav>
    <div class=""></div>
</header>

<script>
  const header = document.querySelector<HTMLDivElement>("header nav");

  const headerWidth = header.clientWidth;
  const headerSmallWidth = 5.4;
  header.style.width = `${headerSmallWidth}rem`;
  header.style.transition = "width 0.16s linear";

  header.addEventListener("mouseenter", () => {
    header.style.width = `${headerWidth}px`;
  });
  header.addEventListener("mouseleave", () => {
    header.style.width = `${headerSmallWidth}rem`;
  });
</script>

<style lang="scss">
  header {
    left: 0;
    top: 0;
    height: 100%;

    z-index: 20;
    background-color: transparent;
    position: fixed;
    box-sizing: border-box;
    @media (max-width: 660px) {
      display: none;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    nav {
      border-radius: 16px;
      overflow: hidden;

      backdrop-filter: blur(20px);
      background-color: rgba(19, 21, 21, 0.30);
    }

    .logo {
      margin: 1rem 2rem;
      img {
        width: 6rem;
        max-width: none;
      }
    }
    ul {
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        gap: 3rem;
        padding: 0;
        li {
          a {
            color: #e1f6ff;
          }
          .block {
            display: flex;
            align-items: center;
            gap: 1.4rem;

            img {
              width: 1.3rem;
            }
            p {
              width: fit-content;
              color: #e1f6ff;
            }
          }
        }
      }
    }

</style>
