---
import Title from "../../components/modules/Title.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TextImgInline from "../../components/modules/TextImgInline.astro";
import Contact from "../../components/modules/Contact.astro";


const data = [
  {
    imgUrl: "/assets/images/explorateur1.webp",
    title: "Que l’aventure commence",
    texts: [
      "Bienvenue dans notre deuxième module d'exploration, axé sur la création et la recherche, où chaque aventurier est invité à plonger au cœur de la découverte.",
      "Ici, chaque explorateur se voit confier la mission passionnante de se documenter et d'étudier un animal en symbiose avec son environnement. En partageant leurs découvertes au sein d'équipes dynamiques, les participants sont encouragés à échanger et à débattre des éventuelles évolutions de ces espèces fascinantes.",
    ],
  },
  {
    imgUrl: "/assets/images/explorateur2.webp",
    title: "UN MONDE FUTURISTE",
    texts: [
      "Guidés par leurs enseignants, les enfants enrichiront ainsi le bestiaire des animaux découverts lors des explorations précédentes, tout en se familiarisant avec les modèles de vie animale actuels pour mieux comprendre les évolutions futures.",
      "Au cours de cette aventure interactive, les explorateurs seront encouragés à utiliser leurs sens et leur imagination. ",
      "Ils apprendront à imaginer l’évolution d’une espèce animale dans le futur. De plus, ils seront invités par la suite à dessiner les croquis de leur évolution en se basant sur la façon dont ils ont imaginé l’animal en question dans le futur. Puis il sera ensuite généré par IA pour y voir le rendu final.",
    ],
  },
  {
    imgUrl: "/assets/images/explorateur3.webp",
    title: "ET L’AVENTURE NE S’ARRETE PAS LA",
    texts: [
      "En guise de conclusion, les fiches détaillant les animaux conçus la routine quotidienne des animaux sont présentées, accompagnées d'une immersion sonore dans leur environnement climatique, pour une expérience d'apprentissage immersive et mémorable.",
      " Pour prolonger cette aventure stimulante, un espace dédié à l'exposition des découvertes et des fiches sera accessible via un QR code permanent, assurant ainsi aux nouveaux et anciens explorateurs un accès continu à cette saga fascinante.",
    ],
  },
]

---


<BaseLayout>

  <main class="container">

    <Title title="N°2 Explorateur" sideText="De 12 à 15ans"/>


    {data.map(({title, imgUrl, texts}, index) => <TextImgInline title={title} imgUrl={imgUrl} texts={texts} reverse={index % 2 === 1 ? true : false}/>)}

    <Contact/>

  </main>

</BaseLayout>
