---

import BaseLayout from "../../layouts/BaseLayout.astro";
import TextImgInline from "../../components/modules/TextImgInline.astro";

import Contact from "../../components/modules/Contact.astro";
import Hero from "../../components/Hero.astro";

const data = [
  {
    imgUrl: "/assets/images/grand_explorateur1.webp",
    title: "Que l’aventure commence",
    texts: [
      "Bienvenue dans notre premier module d'exploration pour jeunes aventuriers en herbe. Guidés par nos enseignants, les enfants exploreront le monde des Animaux du Futur, enrichissant ainsi leur compréhension de la biodiversité et de l'écosystème.",
      "Au cours de cette aventure interactive, les enfants développeront leurs sens et leur imagination. Ils auront à comprendre d'abord l'environnement actuel, puis à ajouter des animaux sur une carte du monde futuriste.  Ils auront à se baser sur leurs observations et leur créativité.",
    ],
  },
  {
    imgUrl: "/assets/images/grand_explorateur2.webp",
    title: "UN PROJET IMPACTANT",
    texts: [
      "Le but est aussi de faire comprendre aux élèves les dangers des humains sur les espèces animales et leurs impacts au cours du temps. ",
      "Ce module sensibilise donc sur les dangers d’extinction des espèces actuelles et leurs conséquences (en se basant sur les recherches scientifiques publiées) au cours du temps. ",
      "Il sera également possible pour les explorateurs de réfléchir aux nouvelles habitudes alimentaires des espèces futures, en se basant sur la description de celles-ci.",
    ],
  },
  {
    imgUrl: "/assets/images/grand_explorateur3.webp",
    title:"ET L’AVENTURE  S’ENRICHIT",
    texts: [
      "Vous êtes intéressé par le projet, et vous souhaitez l’utiliser dans un contexte pédagogique. N’hésitez pas à télécharger le document PDF en cliquant sur le bouton. Tout l’atelier est expliqué dans le document.",
    ],
  },
];
---

<BaseLayout>
  <Hero
    title= "grand <br> explorateur"
    text="Notre troisieme module d'exploration pour les grands aventuriers  !"
    imgUrl="/assets/images/heroGrandExplorateur.webp"/>
  <main>

    {
      data.map(({title, imgUrl, texts }, index) => (<TextImgInline title={title} imgUrl={imgUrl} texts={texts} reverse={index % 2 === 1 ? true : false}/>))
}

    <Contact />
  </main>
</BaseLayout>
