---
import Title from "../../components/modules/Title.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TextImgInline from "../../components/modules/TextImgInline.astro";

import Contact from "../../components/modules/Contact.astro";
import Hero from "../../components/Hero.astro";

const data = [
  {
    imgUrl: "/assets/images/petit_explorateur1.webp",
    title: "QUE L’AVENTURE COMMENCE",
    texts: [
      "Bienvenue dans notre premier module d'exploration pour jeunes aventuriers en herbe. Guidés par nos enseignants, les enfants exploreront le monde des Animaux du Futur, enrichissant ainsi leur compréhension de la biodiversité et de l'écosystème.",
      "Au cours de cette aventure interactive, les enfants développeront leurs sens et leur imagination. Ils auront à comprendre d'abord l'environnement actuel, puis à ajouter des animaux sur une carte du monde futuriste.  Ils auront à se baser sur leurs observations et leur créativité.",
    ]
  },
  {
    imgUrl: "/assets/images/petit_explorateur2.webp",
    title: "L’IMAGINATION D’UN MONDE NOUVEAU",
    texts: [
      "Guidés par leurs enseignants, les enfants enrichiront le bestiaire des animaux découverts lors d’anciennes explorations, tout en se familiarisant avec les modèles de vie animale actuels pour mieux comprendre les évolutions futures.",
      "Cette expérience immersive vise à sensibiliser les enfants à la richesse de la biodiversité puis les encourager  à devenir des gardiens attentifs de l'environnement. En souvenir, ils repartiront avec une carte détaillée de l'environnement imaginé, illustrée par une IA basée sur leurs croquis."
    ]
  },
  {
    imgUrl: "/assets/images/petit_explorateur3.webp",
    title: "L’AVENTURE CONTINUE",
    texts: [
      "Pour prolonger cette aventure, un espace d'exposition des découvertes et des fiches sera accessible via un QR code permanent, offrant aux explorateurs un accès continu à cette saga fascinante."
    ]
  },

]
---


<BaseLayout>
  <Hero
    title= "Petit <br> explorateur"
    text="Notre premier module d'exploration pour jeunes aventuriers en herbe !"
    imgUrl="/assets/images/heroPetitExplorateur.webp"
  />

  <main>

    <Title title="N°1 Petit Explorateur" sideText="De 6 à 11ans"/>

    {data.map(({title, imgUrl, texts}, index) => <TextImgInline title={title} imgUrl={imgUrl} texts={texts} reverse={index % 2 === 1 ? true : false}/>)}

    <Contact/>
  </main>

</BaseLayout>
